/* Global Layout Set-up */
* { 
    box-sizing: border-box;
}
 
a {
    text-decoration: none;
    color: darkslategray;
}

p {
    color: lightslategray;
}

body {
    font-family: 'Roboto Mono', monospace, 'Times New Roman', Times, serif;
    margin: 10px 10px 0px 10px;
    text-align: center;
    background-color: rgb(248, 248, 248);
    
}


header {
    color: rgb(64, 64, 65);
    padding-bottom: 50px;
    display: block;
    
}

h2 {
    font-weight: bold;
    border: 3px solid ghostwhite;
    border-radius: 2px;
    padding: 15px;
    margin: 4px 10px;
    font-size: 1.1em;
    background-color: white;
    
}

h1 {
    color: rgb(64, 64, 65);
    font-size: 1.2em
}

.item1-item {
    font-size: 1.1em
}

.item2,
.item3,
.item4 {
    margin: 8px;
    padding: 8px;
    flex: 1 10px;
    justify-content: center;
    font-weight: bold;
}


.item11 {
    margin: 10px 20px;
    font-weight: bolder;
    color: rgb(64, 64, 65);
    font-size: 1.1em;
}

.item10 {
    margin: 10px 20px;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(64, 64, 65);
}

.profile-image {
    width: 27em;
}

.introduction {
    margin: 50px 35px;
    font-size: 1.0em;
}

.container3 {
    background-color: white;
    padding: 30px 0px;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 15px auto;
    
}

.picture {
 
}

.page {
    margin-bottom: 50px;
    font-size: 1em;
    color: rgb(64, 64, 65);
}

.contact {
    background-color:rgb(248, 248, 248);
    margin: 0px 0px 20px 0px;
    padding: 80px 20px 20px 20px;
    
    
}






.row1 {
    display: flex;
    background-color: green;
    gap: 10px;
}

.column {
    background-color: blue;
    padding: 1rem;
    flex: 1;
}







}
/* Flex Styles */

.container1,
.container2,
.container3,
.container4,
.container5, 
.item1,
.item2,
.item3,
.item4,
.image,
.title,
.textbox
.page {
    display:flex;
}

.page {
    justify-content: center;
}

.image {
    
}

.title {
    align-self: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
}

.textbox {
    font-size: 1em;
}
.container1 {
    flex-direction: column;
}

.container2 {
    justify-content: center;

}

.container3 {
    background-color: green;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.container4 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container5 {
    flex-direction: column;
}

.profile-picture {
    order: 1;
}

.introduction {
    order: 2;
}

.page{
    background-color: green;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {


.container1 {
    flex-direction: row;
    justify-content: center;
    
}

.item2,
.item3,
.item4 {
    flex-grow: 0;
    margin: 0px 20px;
}

.container5 {
    flex-direction: row;
}

.profile-picture {
    order: 2;
    align-self: center;
}

.introduction {
    order:1;
}
}