/* Global Layout Set-up */

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
    color: darkslategray;
}

p {
    color: lightslategray;
}

body {
    font-family: 'Roboto Mono', monospace, 'Times New Roman', Times, serif;
    margin: 10px 10px 0px 10px;
    text-align: center;
    background-color: rgb(248, 248, 248);
    
}

header {
    color: rgb(64, 64, 65);
    padding-bottom: 50px;
    display: block;
    
}

h2 {
    font-weight: bold;
    border: 3px solid ghostwhite;
    border-radius: 2px;
    padding: 15px;
    margin: 4px 10px;
    font-size: 1.1em;
    background-color: white;
    
}

h1 {
    color: rgb(64, 64, 65);
    font-size: 1.2em;
    margin: 30px 0px;
}

.picture {
    max-width: 80vw;
    
}

.item1-item {
    font-size: 1.1em
}

.item2,
.item3,
.item4 {
    margin: 8px;
    padding: 8px;
    flex: 1 10px;
    justify-content: center;
    font-weight: bold;
}

.item11 {
    margin: 10px 20px;
    font-weight: bolder;
    color: rgb(64, 64, 65);
    font-size: 1.1em;
}

.item10 {
    margin: 10px 20px;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(64, 64, 65);
}

.profile-image {
    width: 28em;
}

.introduction {
    margin: 50px 35px;
    font-size: 1.0em;
}

.container3 {
    background-color: white;
    padding: 30px 0px;
}

h2 {
    border: 3px solid white;
    border-radius: 2px;
    padding: 15px;
    margin: 10px 10px;
    font-size: 1.5em;
    background-color: white;
    
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 15px auto;
    
}

.picture {
    width: 90vw;
    
}

.contact {
    background-color:rgb(248, 248, 248);
    margin: 0px 0px 20px 0px;
    padding: 80px 20px 20px 20px;
    
    
}

.row1 {
    display: flex;
    background-color: green;
    gap: 10px;
}

.column {
    background-color: blue;
    padding: 1rem;
    flex: 1;
}

.col2 {
    margin-top: 30px;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container3 {
    flex-direction: row;
    
}

.container4 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container5 {
    flex-direction: column;
}

.profile-picture {
    order: 1;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

.container3,
.container5,
.container6,
.container7,
.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

.container1 {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.col{
    flex: 1;
    justify-content: center;
}

.col1 {
order: 2;
}

.col2 {
    margin-top: 0px;
}

.container5 {
    flex-direction: row;
    gap: 50px;

}

}